@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neutra Text';
  src: url('../public/fonts/neutra-text.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Neutra Text', sans-serif;
}
